body {
  margin: 0px;
  background-image: url('../../img/fundoloja3.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 110%;
}

html{
  margin: 0px;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #2D1C33;
  text-decoration:underline;
  font-weight: bold;
}

.avaliacoes p{
  font-weight: normal;
}

.reviews h1{
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.img-produto{
  width: 30%;
  height: 20%;
  margin: 15px;
}

.icones a{
  border: solid;
  border-color: transparent;
  text-align: center;
  border-radius: 5px;
  transition: background-color 400ms linear;
  font-size: 40px;
  display: inline-block;
  flex: 0 1 100px;
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.icones{
      flex: 1;
      flex-basis: 1%;
}

.icones:hover a{
  border: solid;
  background-color:darkcyan;
}

.container{
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  padding-bottom: 50px;
}

.container div h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #2D1C33;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.container div h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-weight: bold;
}

.risco{
  text-decoration: line-through;
}

.titulo{
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  flex: 1;
  padding-left: 10%;
}

.avaliacoes li{
  list-style: none;
  flex-basis: 24%;
}

.avaliacoes{
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  padding-left: 0px;
}

.nav-bar {
  background: linear-gradient(-90deg, white, #16C0B0);
  height: 80px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  gap: 30%;
  padding-inline: 55px;
}

.fundo{
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background-color:rgba(255,255,255,.2);
  color:black;
  padding: 5%;
}

.fundo-review{
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background-color:rgba(255,255,255,.2);
  color:black;
  padding: 2%;
  width: 95%;
}

.alinha-horizontal-semquebra{
  flex-flow: row nowrap;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.cart {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  flex-basis: 1%;
}

.cart h2{
  font-weight: bold;
}

.cart p{
  width: 150px;
}

.reviews{
  margin-left: 25px;
}

button {
  margin-top: 30px;
  border: none;
  background-color: #EA143A;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 14px;
  border-radius: 5px;
} 

.disabledButton {
  background-color: #d8d8d8;
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}

input {
  width: 100%;  
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 60px;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}